/* header */
/** {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
} */

header {
    height: 55px;
    background-color: #ffffff;
    background-image: url(../img/Logo.png);
    background-repeat: no-repeat;
}

h1 {
    padding-left: 50px;
    padding-top: 5px;
}

/* /header*/

body {
    font-family: sans-serif;
    background-color: #f6f8f9;
}

body {
    background-color: #f6f8f9;
}

/* button */
#task {
    color: #ffffff;
    background-color: #47ADF1;
    border-radius: 5px;
    padding: -10px;
}

#button {
    background-color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 10px;
    padding-left: 50px;
    margin: 30px 80px 2px;
}

#list {
    background-color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 10px;
    padding-left: 50px;
    margin: 0px 80px;

}

/* New Task */
.Editorial {
    color: #ffffff;
    font-size: small;
    background-color: #47ADF1;
}

.style {
    font-size: small;
    color: #ffffff;
    border-radius: 800rem;
    padding: 5px 20px;
}

.Goals {
    background-color: blueviolet;
}

.Recruiting {
    background-color: #64C0A9;
}

.Mobile {
    background-color: orange;
}

.website {
    background-color: #D863A1;
}

.sales {
    background-color: #B0C926;
}

.check {
    border: 1px solid;
    border-radius: 50%;
    padding: 1px 3px;
    color: greenyellow;
}

.cross {
    border: 1px solid;
    border-radius: 50%;
    padding: 1px 3px;
    color: red;
}